/* impostazioni base */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/* fine impostazioni base */
/* inizio header */

h3 h4{
  font-weight: 900;
}
.container{
  background-color: #F4F9FD;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.header-top{
  width: 80%;
  margin: auto;
}
.header-div{
  width: 50%;
  float: left;
  padding: 15px;
}
.menu-left li{
  display: inline-block;
  list-style: none;
  float:left;
  margin-left: 15px;
  color: blue;
}
.menu-left i{
  color: #33475B;
}
.menu-right li{
  display: inline-block;
  list-style: none;
  float: right;
  margin: 11px 15px 0 0;
}
#bianco{
  border: 1px solid red;
  border-radius: 5px;
  background-color: white;
  padding: 4px;
  color:red;
}
#rosso{
  border:1px solid red;
  background-color: #FE775A;
  border-radius: 5px;
  padding:5px;
  border-color: red;
  color: #fff;

}
.menu-right{
  color: blue;
}
a{
  text-decoration: none;
}
.second-container{
 background-color: #fff;
}
.header-middle{
  width: 80%;
  margin: auto;
}
.second-menu-left li{
  list-style: none;
  float: left;
}
.second-menu-right li{
  list-style: none;
  display: inline-block;
  line-height: 50px;
  padding:10px;
  float: right;
}
.second-menu-left img{
  padding:20px;
}
.header-bottom{
  height: 650px;
  margin:auto;
  background-image: url(img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.meta{
  position: absolute;
  top:30%;
  left:30%;
  transform: translate(-50%, -50%);
  color: #33475B;
}
.meta{
  width:40%;
}
.meta p{
  margin-top: 30px;
  margin-bottom: 30px;
}
.meta button{
  margin-bottom: 30px;
  background-color: #FE775A;
  border-radius: 5px;
  padding:20px;
  border-color: red;
  color: #fff;
  border:0px;
}
.meta h1{
  font-size: 50px;
  line-height: 50px;
}
.blueline{
  height: 70px;;
  background-color: #AFEBE4 ;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue
}
/* fine dell'header */
/* inizio main */
/* prima parte */
main{
  background-color:  #F4F9FD;
}
.general-container img{
  height: 230px;
}
.general-container{
  width: 80%;
  margin: auto;
}
.section-font{
  color: #33475B;
}
.intestazione-main{
  text-align: center;
}
.intestazione-main img{
  padding:30px;
}
.intestazione-main p{
  margin-bottom: 25px;
}
.img-learnmore{
  float: left;
}
.img-learnmore ul{
  list-style: none;
}
.img-learnmore a{
  background-color: #FE775A;
  border-radius: 5px;
  padding:20px;
  border-color: red;
  color: #fff;
  border:0px;
}
.hbspot-crm{
  float: left;
  line-height: 50px;
}
.color{
  background-color: #fff;
  padding:40px;
  box-shadow:2px 2px 2px 2px;
  height: 320px;;
  border-radius: 5px;
}
.hbspot-crm li{
list-style: none;
display:inline-block;
margin-right: 10px;
}
.fa-check-circle{
  color:#FE775A;
  margin-right: 10px;
}
/* fine prima parte */
/* inizio seconda parte */
.img-learnmore img{
max-height:150px;
max-width: 150px;
padding-bottom: 20px;
}
.img-learnmore a{
  margin-left:20px;
}
.img-learnmore li{
  margin-right: 70px;
  padding-left: 70px;
}
.col-left{
  float: left;
  width: 26.6%;
  height: 500px;
}
.col-centro{
  float: left;
  width: 26.6%;
  height: 500px;
}
.col-right{
  float: left;
  width: 26.8%;
  height: 500px;
}
.dimensioni{
  margin:40px;
  padding: 20px;
  text-align: center;
  background-color: white;
  box-shadow:2px 2px 2px 2px;
  border-radius: 5px;
}
.col-left li{
  list-style: none;
}
.col-left a{
  margin-left: 20px;
  background-color: #FE775A;
  border-radius: 5px;
  padding:20px;
  border-color: red;
  color: #fff;
  border:0px;
}
.col-centro li{
  list-style: none;
}
.col-right li{
  list-style: none;
}
.col-centro a{
  padding: 20px;
  background-color: #FE775A;
  border-radius: 5px;
  padding:20px;
  border-color: red;
  color: #fff;
  border:0px;
}
.col-right a {
  padding: 20px;
  background-color: #FE775A;
  border-radius: 5px;
  padding:20px;
  border-color: red;
  color: #fff;
  border:0px;
}
.dimensioni img{
  height: 90px;
}
.dimensioni ul{
  text-align: left;
  margin-bottom: 50px;
}
.dimensioni h3{
  margin-bottom: 25px;
}
.dimensioni p{
  margin-bottom: 25px;
}
.dimensioni h4{
  margin-bottom: 25px;
  margin-top: 25px
}
/* fine seconda parte */
/* inizio terza parte */
.contenitore{
  width: 80%;
  margin: auto;
  color: #fff;
  padding: 40px 0 80px;
  text-align: center;

}
.statistics{
  text-align: center;
  background: rgb(0,165,190);
  background: linear-gradient(80deg, rgba(0,160,180,1) 0%, rgba(0,190,160,1) 100%);
}
.statistics h2{
  text-transform: none;
}
.statistics p{
  margin-bottom: 30px;
  margin-top: 25px;
}
.statistics-table-item{
  width: 25%;
  float: left;
  padding: 25px;
}
.statistics-table-item:not(:last-child){
  border-right: 1px solid #fff;
}
.statistics-table-item img, .statistics-table-item .number{
  margin-bottom: 10px;
}
.statistics-table-item img{
  height: 35px;
}
.number{
  font-size: 40px;
  font-weight: 900;
}
.statistics-table-item .number span{
  margin-left: 5px;
  font-size: 25px;
  font-weight: 400;
  vertical-align: middle;
}
.table-row:first-child{
  border-bottom: 1px solid #fff;
}
/* fine terza parte */
/* inizio quarta parte */
.contenitore2{
  width: 80%;
  margin: auto;
  color: #33475B;
  text-align: center;
}
.first-row{
  margin-top:30px;
}
.second-row{
  margin-top: 50px;
}
.second-col-left{
  float: left;
  width: 35%;
}
.second-col-right{
  float:right;
  width: 65%;
}
.second-col-left h2{
  font-size: 40px;
  font-weight: 800;
}
.second-col-left li{
  list-style: none;
}
.second-col-right li{
  list-style: none;
  display: inline-block;
  width: 24%;
}
.second-col-right img{
  max-height:60px;
  width: 150px;
  padding: 10px;
}
.contenitore3{
  width: 70%;
  margin: auto;
  color: #33475B;
  text-align: center;
}
.third-col-left{
  float: left;
  width:30%;
  text-align: left;
}
.third-col-right{
  float: left;
  width:70%;
}
.third-col-left h2{
  margin-bottom: 20px;
}
.third-col-left a{
  padding: 20px;
  background-color: #FE775A;
  border-radius: 5px;
  padding:20px;
  border-color: red;
  color: #fff;
  border:0px;
}
.third-col-left p{
  margin-bottom:70px;
}
.third-col-left div {
  margin-bottom: 60px;
}
.third-col-right img{
  max-height: 330px;
  float:right;
}
footer{
  background-color: #32495B;
  color:#fff;
}
.contenitore4{
  width:70%;
  margin: auto;
}
.col-4 li{
  list-style: none;
  margin-bottom: 10px;
}
.col-4{
  width: 25%;
  float:left;
}
.col-4 h3{
  margin-bottom: 20px;
  margin-top: 30px;
}
.col-4 a {
  text-decoration: none;
  color:#D3F9FD;
}
#space{
  padding-top: 10px;
}
#special-button{
  color:#32495B;
  background-color: #F4F9FD;
  padding:5px;
  border-radius: 5px;
}
#list-list{
  margin-top: 30px;
}
#list-list li{
  display: inline-block;
  width:13%;
}
#list-list a{
  text-decoration: none;
  color:#fff;
}
.contenitore5 {
  width:70%;
  margin: auto;
  text-align: center;
}
.contenitore5 li{
  display: inline-block;
  text-decoration: none;
  color:lightblue;
  margin-bottom: 20px;
  padding:10px;
}
.footer-col{
  margin-top: 20px;
  float: left;
}
.footer-col img{
 -webkit-filter: invert(100%);
}
.footer-col p{
  padding-top:10px;
  padding-bottom: 40px;
}
.footer-col2 li{
  display: inline-block;
  list-style: none;
  margin-top: 30px;
}
.footer-col2{
  float: right;
}
.footer-col2 a{
  text-decoration: none;
  color: #D3F9FD;
  padding: 15px;
}

/* fine quarta parte */
/* fine main */
