/* impostazioni base */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* fine impostazioni base */
header{
  height: 852px;
}
.container{
  margin-top: 20px;
  background-color: #F4F9FD;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.header-top{
  height: 50px;
  width: 80%;
  margin: auto;
}
.header-div{
  width: 50%;
  float: left;
  height:50px;
}
.menu-left li{
  display: inline-block;
  list-style: none;
  float:left;
  padding: 15px 15px 0 0;
  color: blue;
}
.menu-right li{
  display: inline-block;
  list-style: none;
  float: right;
  margin: 11px 15px 0 0;
}
.menu-right li:last-child{
  border: 1px solid red;
  border-radius: 5px;
  background-color: white;
  padding: 4px;
  color:red;
}
.menu-right li:first-child{
  border: 0px solid red;
  border-radius: 5px;
  background-color: #FE775A;
  padding:4px;
  color: white;
}
a{
  text-decoration: none;
}
.menu-right a:first-child{
  color:white;
  border-radius: 5px;

}
.menu-left a:last-child{

}
.second-container{
 background-color: #fff;
}
.header-middle{
  height: 50px;
  width: 80%;
  margin: auto;
}
.second-menu-left li{
  list-style: none;
  float: left;
}
.second-menu-right li{
  list-style: none;
  display: inline-block;
  line-height: 50px;
  padding:10px;
  float: right;
}
.second-menu-left img{
  padding:12px 0 12px 0;
}
.header-bottom{
  height: 650px;
  margin:auto;
  background-image: url(img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.meta{
  position: absolute;
  top:25%;
  left:30%;
  transform: translate(-50%, -50%);
  color: #33475B;
}
.meta{
  width:40%;
}
.meta p{
  margin-top: 30px;
  margin-bottom: 30px;
}
.meta button{
  margin-bottom: 30px;
  background-color: #FE775A;
  border-radius: 5px;
  padding:5px;
  border-color: red;
  color: #fff;
  border:0px;
}
.meta h1{
  font-size: 50px;
  line-height: 50px;
}
.blueline{
  height: 100px;
  background-color: #00A4BD ;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue
}
.main-top{
  height: 1000px;
  background-color:#F4F9FD ;
  position: relative;
}
.img-container{
  height: 450px;
}
.main-top img{
  position: absolute;
  top:25%;
  left:50%;
  transform: translate(-50%, -50%);
}
.description h2 {
  text-align: center;
}
.description p{
  text-align: center;
}
.main-center{
  height: 300px;
  width: 80%;
  margin: auto;
}
.main-center-left{
  float: left;
  width: 20%;
  display: inline-block;
}
.main-center-right{
  float: left;
  width:80%;
  display: inline-block;
}
.main-center-left img.resize{
 width: auto;
 height: 300px;
}
