/* impostazioni base */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* fine impostazioni base */
header{
  height: 852px;
}
.container{
  background-color: #F4F9FD;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.header-top{
  width: 80%;
  margin: auto;
}
.header-div{
  width: 50%;
  float: left;
  padding: 20px;
}
.menu-left li{
  display: inline-block;
  list-style: none;
  float:left;
  margin-left: 15px;
  color: blue;
}
.menu-left i{
  color: #33475B;
}
.menu-right li{
  display: inline-block;
  list-style: none;
  float: right;
  margin: 11px 15px 0 0;
}
#bianco{
  border: 1px solid red;
  border-radius: 5px;
  background-color: white;
  padding: 4px;
  color:red;
}
#rosso{
  border:1px solid red;
  background-color: #FE775A;
  border-radius: 5px;
  padding:5px;
  border-color: red;
  color: #fff;

}
.menu-right{
  color: blue;
}
a{
  text-decoration: none;
}
.second-container{
 background-color: #fff;
}
.header-middle{
  width: 80%;
  margin: auto;
}
.second-menu-left li{
  list-style: none;
  float: left;
}
.second-menu-right li{
  list-style: none;
  display: inline-block;
  line-height: 50px;
  padding:10px;
  float: right;
}
.second-menu-left img{
  padding:20px;
}
.header-bottom{
  height: 650px;
  margin:auto;
  background-image: url(img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.meta{
  position: absolute;
  top:30%;
  left:30%;
  transform: translate(-50%, -50%);
  color: #33475B;
}
.meta{
  width:40%;
}
.meta p{
  margin-top: 30px;
  margin-bottom: 30px;
}
.meta button{
  margin-bottom: 30px;
  background-color: #FE775A;
  border-radius: 5px;
  padding:20px;
  border-color: red;
  color: #fff;
  border:0px;
}
.meta h1{
  font-size: 50px;
  line-height: 50px;
}
.blueline{
  height: 10%;
  background-color: #AFEBE4 ;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue
}
.general-container img{
  height: 200px;
}
.general-container{
  width: 80%;
  margin: auto;
}
